.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.login-form {
  background-color: rgb(173, 254, 227);
  gap: 1rem;
  text-align: center;
  flex-direction: column;
  display: flex;
  gap: 2rem;
  margin: 1rem;
  padding: 2 rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0, 25);
  font-size: 1.5 rem;
  justify-content: space-evenly;
}
.ullar {
  flex-direction: column;
  list-style-type: none;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-data {
  gap: 3 rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
